.welcome_div {
  width:600px;
  height:400px;
  display: flex;
  margin:auto;
  margin-top: 100px;
  align-self:center;

}


label {

    clear: both;
    float:left;
    margin-right:10px;
}
.divSignIn{

  width: 250px;
  border: 1px solid black;
  padding: 25px;
  margin-left:10px;
  background-color: white;
  height: auto;
  text-align: right;

}


select{
  width: 170px;
}

.divSignUp{
  width: 300px;
  border: 1px solid black;
  margin-left:-302px;
  margin-top: 120px;
  background-color: white;
  height: 279px;
  text-align: right;

}

.image{
  border: 1px solid black;
}

body{
  background-color: #328ba8;
}
